<h1><%= link_to @post.title, @post.link %>
<p><small>No. of Comments: <%= @post.comment.length %></small></p>
</h1>

<p><%= link_to 'New Comment', new_post_comment_path(@post), class: 'btn btn-primary' %></p>

<% @post.comment.each do |comment| %>
<div class="well">
  <p><%= comment.body %></p>
  <strong>By <%= comment.user.name %></strong>

</div>
<% end %>

<p><%= link_to "&larr; Back".html_safe, root_path, class: "btn btn-default" %></p>