<h1>Hacker News</h1>

<%= link_to "Create Post", new_post_path, class: 'btn btn-default', style: 'margin-bottom: 1%' %>

<% @posts.each do |post| %>
<div class="well">
	<h2><a href="<%= post.link %>"><%= post.title %></a>
		<small><%= post.user.name %></small>
	</h2>
	<p>
		<span><%= link_to 'Comments', post_comments_path(post), class: 'btn btn-default' %></span>
		<span><%= link_to 'Delete Post', post, class: 'btn btn-danger', method: :delete %>
	</p>
</div>
<% end %>