<h1>New Post</h1>

<%= bootstrap_form_for @post do |f| %>
	<%= f.text_field :title %>
	<%= f.text_area :link %>

	<p><%= f.primary %></p>
<% end %>

<%= link_to "&larr; Back".html_safe, root_path, class: "btn btn-default" %>